@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

@import "tailwindcss";

@theme{

    /* Primary Colors */
    --color-primary: #dc143c;
    --color-primary-darker: #B01234;

    /* SECONDARY COLORS */
    --color-secondary: #00000C;
    --color-secondary-darker: #000009;

    /* Cream Colors */
    --color-cream-50: #FEFCF5;
    --color-cream-100: #FCF9EB;
    --color-cream-200: #FAF3D3;
    --color-cream-300: #F8ECA9;
    --color-cream-400: #F6E57F;
    --color-cream-500: #F4DE56;
    --color-cream-600: #DCBE47;
    --color-cream-700: #B39B38;
    --color-cream-800: #8B762A;
    --color-cream-900: #62531B;
}
/* Fonts */

.text-content {
    font-family: 'Open Sans', sans-serif;
    }

.text-heading {
    font-family: 'Poppins', sans-serif;
    }

/* Headings */

.heading-1 {
    font-size: 3.75rem;
    font-weight: 700;
}

.heading-2 {
  font-size: 3rem;
  font-weight: 700;
}

.heading-3 {
  font-size: 2.25rem;
  font-weight: 600;
}

.heading-4 {
  font-size: 1.875rem;
  font-weight: 600;
}

.heading-5 {
  font-size: 1.5rem;
  font-weight: 500;
}

.heading-6 {
  font-size: 1.25rem;
  font-weight: 500;
}